<%- include('./navbar.ejs') %>
<%- include('./sidebar.ejs') %>

<div class="content-wrapper">
  <div class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1 class="m-0 text-dark">My Property Bookings</h1>
        </div>
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a href="#">My Property Bookings</a></li>
            <li class="breadcrumb-item active">My Property Bookings</li>
          </ol>
        </div>
      </div>
    </div>
  </div>

  <div class="content">
    <div class="container-fluid">
      <div class="card">
        <% if(success.length >0){ %>
          <div class="alert alert-success"><%= success %></div>
  
          <% } %>
        <div class="card-body">
          
          <table id="example1" class="table table-bordered table-striped">
            <thead>
              <tr>
                <th>Property</th>
                <th>Seller</th>
                <th>Date</th>
                <th>Invoice</th>
                <th>Action</th> <!-- New -->
              </tr>
            </thead>
            <tbody>
              <% bookings.forEach(b => { %>
                <tr>
                  <td><%= b.property.name %></td>
                  <td><%= b.seller.name %> (<%= b.seller.email %>)</td>
                  <td><%= b.bookingDate.toDateString() %></td>
                  <td>
                    <a href="/buyer/invoice/<%= b._id %>" class="btn btn-info btn-sm">View</a>
                    <a href="/buyer/invoice-download/<%= b._id %>" class="btn btn-success btn-sm">Download PDF</a>
                  </td>
                  <td>
                    <form action="/buyer/delete-booking/<%= b._id %>" method="POST" onsubmit="return confirm('Are you sure you want to delete this booking?');">
                      <button type="submit" class="btn btn-danger btn-sm">Delete</button>
                    </form>
                  </td>
                </tr>
              <% }) %>
            </tbody>
            <tfoot>
              <tr>
                <th>Property</th>
                <th>Seller</th>
                <th>Date</th>
                <th>Invoice</th>
                <th>Action</th> <!-- New -->
              </tr>
            </tfoot>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

<%- include('./footer.ejs') %>
