




<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>Reset Password</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Font Awesome -->
  <link rel="stylesheet" href="/plugins/fontawesome-free/css/all.min.css">
  <!-- Bootstrap -->
  <link rel="stylesheet" href="/plugins/icheck-bootstrap/icheck-bootstrap.min.css">
  <!-- AdminLTE -->
  <link rel="stylesheet" href="/dist/css/adminlte.min.css">
  <!-- Google Font -->
  <link href="https://fonts.googleapis.com/css2?family=Rubik:wght@400;600&display=swap" rel="stylesheet">

  <style>
    body {
      background: url('https://images.unsplash.com/photo-1600585154340-be6161a56a0c?auto=format&fit=crop&w=1600&q=80') no-repeat center center fixed;
      background-size: cover;
      font-family: 'Rubik', sans-serif;
    }

    /* .login-box {
      margin-top: 100px;
    }

    .login-logo a {
      color: #fff;
      font-size: 32px;
      font-weight: 600;
    }

    .login-card-body {
      border-radius: 10px;
      padding: 30px;
    }

    .form-control {
      border-radius: 6px;
    }

    .btn-primary {
      border-radius: 6px;
    } */
  </style>
</head>

<body class="hold-transition login-page">
  <div class="login-box">
    <div class="login-logo">
      <a href="#"><b>Reset Password</b> </a>
    </div>

    <div class="card shadow">
      <% if(error.length> 0) { %>
        <div class="alert alert-danger text-center m-3">
          <%= error %>
        </div>
        <% } %>
          <% if(success.length> 0) { %>
            <div class="alert alert-success text-center m-3">
              <%= success %>
            </div>
            <% } %>

              <div class="card-body login-card-body">
                

              
               
                <form action="/reset-password/<%= token %>" method="POST">
                  <% if (error) { %><p style="color:red;"><%= error %></p><% } %>
                  <% if (success) { %><p style="color:green;"><%= success %></p><% } %>
                  <input type="password" name="password" placeholder="New password" required  class="form-control"/>
                  <br>
                  <center>
                    <button type="submit" class="btn btn-info">Update Password</button>

                  </center>
                  
                </form>

                
              </div>
    </div>
  </div>

  <!-- Scripts -->
  <script src="/plugins/jquery/jquery.min.js"></script>
  <script src="/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="/dist/js/adminlte.min.js"></script>
</body>

</html>
