<%- include('./header.ejs') %>
	<!-- Slider One -->
	<section class="slider-one">
		<div class="slider-one_icon" style="background-image:url(assets/images/main-slider/cloud.png)"></div>
		<div class="slider-one_icon-two" style="background-image:url(assets/images/main-slider/cloud.png)"></div>
		<div class="slider-one_pattern" style="background-image:url(assets/images/main-slider/pattern-1.png)"></div>
		<div class="main-slider swiper-container">
			<div class="swiper-wrapper">

				<!-- Slide -->
				<div class="swiper-slide"
					style="background-image:url(https://www.shutterstock.com/image-photo/property-real-estate-concepthand-hold-260nw-2185358671.jpg);background-size: cover;width: 100%;">
					<div class="auto-container">
						<div class="row clearfix">

							<!-- Content Column -->
							<div class="slider-one_content col-lg-6 col-md-12 col-sm-12">
								<div class="slider-one_content-inner">
									<div class="slider-one_title"><i class="flaticon-home"></i> Dreams Reality</div>
									<h1 class="slider-one_heading">Tailored Solution for Your Real Estate Needs</h1><br>
									<div class="slider-one_text"></div>
									<div class="slider-one_button">
										<a href="/about" class="theme-btn btn-style-one">
											<span class="btn-wrap">
												<span class="text-one">Booking Now</span>
												<span class="text-two">Booking Now</span>
											</span>
										</a>
									</div>

								</div>
							</div>

							<!-- Image Column -->
							<div class="slider-one_image-column  col-lg-6 col-md-12 col-sm-12 ">
								<div class="slider-one_image">
									<img src="" alt="" />

									<!-- <div class="slider-one_review-box">
										<div class="slider-one_review-content">
											<div class="authors">
												<span><img src="assets/images/resource/author-4.png" alt="" /></span>
												<span><img src="assets/images/resource/author-5.png" alt="" /></span>
												<span><img src="assets/images/resource/author-6.png" alt="" /><i class="fa-solid fa-plus fa-fw"></i></span>
											</div>
											<h4>10K+</h4>
											<div class="sub-title">Happy Customers</div>
										</div>
									</div> -->

								</div>
							</div>

						</div>
					</div>
				</div>

				<!-- Slide -->
				<div class="swiper-slide"
					style="background-image:url(https://www.shutterstock.com/image-vector/city-silhouette-pink-blue-colors-260nw-2440889317.jpg);background-size: cover;width: 100%;">
					<div class="auto-container">
						<div class="row clearfix">

							<!-- Content Column -->
							<div class="slider-one_content col-lg-6 col-md-12 col-sm-12">
								<div class="slider-one_content-inner">
									<div class="slider-one_title"><i class="flaticon-home"></i> Dreams Reality</div>
									<h1 class="slider-one_heading">Tailored Solution for Your Real Estate Needs</h1>
									<!-- <div class="slider-one_text">Lorem ipsum dolor sit amet consectetur adipiscing elit Ut et massa mi. Aliquam in hendrerit urna.</div> -->
									<br><br><br><br><br>
									<!-- <div class="slider-one_button">
										<a href="about.html" class="theme-btn btn-style-one">
											<span class="btn-wrap">
												<span class="text-one">Booking Now</span>
												<span class="text-two">Booking Now</span>
											</span>
										</a>
									</div> -->

								</div>
							</div>

							<!-- Image Column -->
							<div class="slider-one_image-column col-lg-6 col-md-12 col-sm-12">
								<div class="slider-one_image">
									<img src="" alt="" />

									<!-- <div class="slider-one_review-box">
										<div class="slider-one_review-content">
											<div class="authors">
												<span><img src="assets/images/resource/author-4.png" alt="" /></span>
												<span><img src="assets/images/resource/author-5.png" alt="" /></span>
												<span><img src="assets/images/resource/author-6.png" alt="" /><i class="fa-solid fa-plus fa-fw"></i></span>
											</div>
											<h4>10K+</h4>
											<div class="sub-title">Happy Customers</div>
										</div>
									</div> -->

								</div>
							</div>

						</div>
					</div>
				</div>

				<!-- Slide -->
				<div class="swiper-slide"
					style="background-image:url(https://cdn-res.keymedia.com/cms/images/ca/155/0382_637586743524638447.jpg);background-size: cover;width: 100%;">
					<div class="auto-container">
						<div class="row clearfix">

							<!-- Content Column -->
							<div class="slider-one_content col-lg-6 col-md-12 col-sm-12">
								<div class="slider-one_content-inner">
									<div class="slider-one_title"><i class="flaticon-home"></i> Dreams Reality</div>
									<h1 class="slider-one_heading">Tailored Solution for Your Real Estate Needs</h1>
									<!-- <div class="slider-one_text">Lorem ipsum dolor sit amet consectetur adipiscing elit Ut et massa mi. Aliquam in hendrerit urna.</div> -->
									<br><br><br><br><br>

									<!-- <div class="slider-one_button">
										<a href="about.html" class="theme-btn btn-style-one">
											<span class="btn-wrap">
												<span class="text-one">Booking Now</span>
												<span class="text-two">Booking Now</span>
											</span>
										</a>
									</div> -->

								</div>
							</div>

							<!-- Image Column -->
							<div class="slider-one_image-column col-lg-6 col-md-12 col-sm-12">
								<div class="slider-one_image">
									<!-- <img src="assets/images/main-slider/image-1.png" alt="" /> -->

									<!-- <div class="slider-one_review-box">
										<div class="slider-one_review-content">
											<div class="authors">
												<span><img src="assets/images/resource/author-4.png" alt="" /></span>
												<span><img src="assets/images/resource/author-5.png" alt="" /></span>
												<span><img src="assets/images/resource/author-6.png" alt="" /><i class="fa-solid fa-plus fa-fw"></i></span>
											</div>
											<h4>10K+</h4>
											<div class="sub-title">Happy Customers</div>
										</div>
									</div> -->

								</div>
							</div>

						</div>
					</div>
				</div>

			</div>

			<!-- If we need navigation buttons -->
			<div class="slider-one_arrows">
				<div class="main-slider-prev"><img src="assets/images/icons/prev-arrow.png" alt="" /></div>
				<div class="main-slider-next"><img src="assets/images/icons/next-arrow.png" alt="" /></div>
			</div>

			<!-- If we need pagination -->
			<div class="slider-one_pagination"></div>

		</div>
	</section>
	<!-- End Main Slider Section -->

	<!-- Property One -->
	<section class="property-two">
		<div class="auto-container">
			<div class="inner-container">
				<!-- Banner Tabs -->
				<div class="banner-tabs">
					<!-- Product Tabs -->
					<div class="prod-tabs tabs-box">

						<!-- Tab Btns -->
						<ul class="tab-btns tab-buttons clearfix">
							<li data-tab="#prod-buy" class="tab-btn active-btn">buy</li>
							<!-- <li data-tab="#prod-rent" class="tab-btn">rent</li> -->
							<li data-tab="#prod-sell" class="tab-btn">sell</li>
						</ul>

						<!-- Tabs Container -->
						<div class="tabs-content">

							<!-- Tab -->
							<div class="tab active-tab" id="prod-buy">
								<div class="content">
									<!-- Default Form -->
									<div class="default-form">
										<form method="post" action="/searchProperty">
											<div class="row clearfix">

												<div class="col-lg-4 col-md-4 col-sm-6 form-group">
													<label>Location</label >
													<select name="country" class="custom-select-box">
														<option value="" disabled selected>Select Location</option>
														<option>Indore,Madhaya Pradesh</option>
														<option>Hydrabad,Telangana</option>
														<option>Banglore,Karnatka</option>
														<option>delhi,Delhi</option>
														<option>pune,Maharashtra</option>
													</select>
												</div>

												<div class="col-lg-4 col-md-4 col-sm-6 form-group">
													<label>Area</label>
													<select name="country" class="custom-select-box">
														<option value="" disabled selected>Select area</option>
														<option>Under 1000 squ.fit</option>
														<option>Under 1500 squ.fit</option>
														<option>Under 2000 squ.fit</option>
														<option>Under 3000 squ.fit</option>
													</select>
												</div>

												<div class="col-lg-4 col-md-4 col-sm-12 form-group">
													<label>Price Range</label>
													<select name="country" class="custom-select-box">
														<option value="" disabled selected>Select Price</option>
														<option>Rs 50 L - Rs 70 L</option>
														<option>Rs 80 L - Rs 1 Cr.</option>
														<option>Rs 1 Cr. - Rs 1.5 Cr.</option>
														<option>Rs 1.5 cr - Rs 2 Cr</option>
														<option>Rs 2 cr - Rs 2.5 Cr</option>
													</select>
												</div>

											</div>
											<!-- Button Box -->
											<div class="button-box">
												<button class="submit-btn">Search Now <i
														class="flaticon-search-interface-symbol"></i></button>
											</div>

											
										</form>
									</div>
								</div>
							</div>

							<!-- Tab -->


							<!-- Tab -->
							<div class="tab" id="prod-sell">
								<div class="content">
									<!-- Default Form -->
									<div class="default-form">
										<form method="post" action="contact.html">
											<div class="row clearfix">

												<div class="col-lg-4 col-md-4 col-sm-6 form-group">
													<label>Location</label>
													<select name="country" class="custom-select-box">
														<option>Indore,Madhaya Pradesh</option>
														<option>Hydrabad,Telangana</option>
														<option>Banglore,Karnatka</option>
														<option>delhi,Delhi</option>
														<option>pune,Maharashtra</option>
													</select>
												</div>

												<div class="col-lg-4 col-md-4 col-sm-6 form-group">
													<label>Type</label>
													<select name="country" class="custom-select-box">
														<option>Under 1000 squ.fit</option>
														<option>Under 1500 squ.fit</option>
														<option>Under 2000 squ.fit</option>
														<option>Under 3000 squ.fit</option>
													</select>
												</div>

												<div class="col-lg-4 col-md-4 col-sm-12 form-group">
													<label>Price Range</label>
													<select name="country" class="custom-select-box">
														<option>Rs 50 L - Rs 70 L</option>
														<option>Rs 80 L - Rs 1 Cr.</option>
														<option>Rs 1 Cr. - Rs 1.5 Cr.</option>
														<option>Rs 1.5 cr - Rs 2 Cr</option>
														<option>Rs 2 cr - Rs 2.5 Cr</option>

													</select>
												</div>

											</div>
											<!-- Button Box -->
											<div class="button-box">
												<button class="submit-btn">Search Now <i
														class="flaticon-search-interface-symbol"></i></button>
											</div>
										</form>
									</div>
								</div>
							</div>

						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- End Property One -->

	<!-- Story One -->
	<section class="story-three">
		<div class="auto-container">
			<div class="row clearfix">

				<!-- Image Column -->
				<div class="story-three_image-column col-lg-6 col-md-12 col-sm-12">
					<div class="story-three_image-outer wow fadeInLeft" data-wow-delay="0ms" data-wow-duration="1500ms">
						<div class="story-three_pattern" style="background-image:url()"></div>
						<span class="story-three_color"
							style="background-image: url(https://images.unsplash.com/photo-1565953522043-baea26b83b7e?w=600&auto=format&fit=crop&q=60&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mzh8fHJlYWwlMjBlc3RhdGV8ZW58MHx8MHx8fDA%3D);"></span>
						<div class="row clearfix">
							<div class="column col-lg-7 col-md-6 col-sm-6">
								<div class="story-three_image">
									<img src="https://img.freepik.com/free-photo/vertical-shot-white-building-clear-sky_181624-4575.jpg?w=360"
										alt="" />
								</div>
							</div>
							<div class="column col-lg-5 col-md-6 col-sm-6">
								<div class="story-three_image">
									<img src="https://images.unsplash.com/photo-1448630360428-65456885c650?fm=jpg&q=60&w=3000&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8M3x8cHJvcGVydHl8ZW58MHx8MHx8fDA%3D"
										alt="" />
								</div>
								<div class="story-three_clients">
									<div class="story-three_inner">
										<i class="flaticon-rating"></i>
										Client Centric Approach
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>

				<!-- Content Column -->
				<div class="story-three_content-column col-lg-6 col-md-12 col-sm-12">
					<div class="story-three_content-outer">
						<!-- Sec Title -->
						<div class="sec-title">
							<div class="sec-title_title">Discover Our Story</div>
							<h2 class="sec-title_heading">Unveiling Palace Real Estate Journey</h2>
						</div>

						<!-- Story Tabs -->
						<div class="story-tabs">
							<!-- Story Tabs -->
							<div class="story-tab tabs-box">

								<!-- Tab Btns -->
								<ul class="tab-btns tab-buttons clearfix">
									<li data-tab="#prod-mission" class="tab-btn active-btn">Mission</li>
									<!-- <li data-tab="#prod-vission" class="tab-btn">Vission</li> -->
									<li data-tab="#prod-goal" class="tab-btn">Goal</li>
								</ul>

								<!-- Tabs Container -->
								<div class="tabs-content">

									<!-- Tab -->
									<div class="tab active-tab" id="prod-mission">
										<div class="content">
											<div class="text">Lorem ipsum dolor sit amet consectetur adipiscing elit Ut
												et massa mi. Aliquam in hendrerit urna. Pellentesque sit amet sapien
												fringilla, mattis ligula consectetur, ultrices mauris. Pellentesque sit
												amet sapien fringilla, mattis ligula consectetur.</div>
											<ul class="story-three_checklist">
												<li><i class="flaticon-checked"></i> Pellentesque sit amet sapien
													fringilla.</li>
												<li><i class="flaticon-checked"></i> Consectetur adipiscing elit Ut et
													massa.</li>
											</ul>
										</div>
									</div>

									<!-- Tab -->
									<!-- <div class="tab" id="prod-vission">
										<div class="content">
											<div class="text">Lorem ipsum dolor sit amet consectetur adipiscing elit Ut et massa mi. Aliquam in hendrerit urna. Pellentesque sit amet sapien fringilla, mattis ligula consectetur, ultrices mauris.  Pellentesque sit amet sapien fringilla, mattis ligula consectetur.</div>
											<ul class="story-three_checklist">
												<li><i class="flaticon-checked"></i>  Pellentesque sit amet sapien fringilla.</li>
												<li><i class="flaticon-checked"></i> Consectetur adipiscing elit Ut et massa.</li>
											</ul>
										</div>
									</div> -->

									<!-- Tab -->
									<div class="tab" id="prod-goal">
										<div class="content">
											<div class="text">Lorem ipsum dolor sit amet consectetur adipiscing elit Ut
												et massa mi. Aliquam in hendrerit urna. Pellentesque sit amet sapien
												fringilla, mattis ligula consectetur, ultrices mauris. Pellentesque sit
												amet sapien fringilla, mattis ligula consectetur.</div>
											<ul class="story-three_checklist">
												<li><i class="flaticon-checked"></i> Pellentesque sit amet sapien
													fringilla.</li>
												<li><i class="flaticon-checked"></i> Consectetur adipiscing elit Ut et
													massa.</li>
											</ul>
										</div>
									</div>

								</div>
							</div>
						</div>

					</div>
				</div>

			</div>
		</div>
	</section>
	<!-- End Story One -->

	<!-- Property One -->
	<section class="property-one style-two">
		<div class="auto-container">
			<!-- Sec Title -->
			<div class="sec-title">
				<div class="sec-title_title">Our Services</div>
				<h2 class="sec-title_heading">Take a stroll around <br> surroundings.</h2>
			</div>
			<div class="three-items_slider swiper-container">
				<div class="swiper-wrapper">
					<% properties.forEach((property)=> { %>
						<!-- Slide -->
						<div class="swiper-slide">
							<!-- Property Block One -->
							<div class="property-block_one">
								<div class="property-block_one-inner" style=" box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);">
									<div class="property-block_one-image">
										<div class="property-block_one-title">Featuerd</div>
										<a href="/propertydetail/<%=property._id %>"><img
												src="<%= property.image.url %>" alt="" /></a>
									</div>
									<div class="property-block_one-content">
										<div class="property-block_one-location"><i class="flaticon-maps-and-flags"></i>
											<%=property.address %>
										</div>
										<h4 class="property-block_one-heading"><a
												href="/propertydetail/<%=property._id %>">
												<%=property.name %>
											</a></h4>
										<ul class="property-block_one-info">
											<li><span><img src="/assets/images/icons/bed.svg" alt="" /></span>
												<%=property.beds %>
											</li>
											<li><span><img src="/assets/images/icons/bath.svg" alt="" /></span>
												<%=property.bedrooms %>
											</li>
											<li><span><img src="/assets/images/icons/square.svg" alt="" /></span>
												<%=property.squarefit %>
											</li>
										</ul>
										<div class="d-flex justify-content-between align-items-center flex-wrap">
											<div class="property-block_one-price">
												<%=property.price %>
													<span>Avg. Price</span>
											</div>

										</div>
										<div class="property-block_one_button">
											<a href="/propertydetail/<%=property._id %>" class="theme-btn btn-style-one"
												alt="<%=property.image.url %>">
												<span class="btn-wrap">
													<span class="text-one">View Details</span>
													<span class="text-two">View Details</span>
												</span>
											</a>
										</div>
									</div>
								</div>
							</div>
						</div>

						<%}) %>



				</div>

				<!-- If we need pagination -->
				<div class="three-items_slider-pagination"></div>

				<!-- If we need navigation buttons -->
				<div class="three-items_slider-prev"><img src="assets/images/icons/prev-arrow.png" alt="" /></div>
				<div class="three-items_slider-next"><img src="assets/images/icons/next-arrow.png" alt="" /></div>

			</div>

		</div>
	</section>
	<!-- End Property One -->

	<!-- Company One -->
	<section class="company-one">
		<div class="auto-container">
			<!-- Sec Title -->
			<div class="sec-title centered">
				<div class="sec-title_title">how its works</div>
				<h2 class="sec-title_heading">Understanding Real <br> Estate Company</h2>
			</div>
			<div class="inner-container">
				<!-- Company Tabs -->
				<div class="company-tabs tabs-box">

					<!-- Tab Btns -->
					<ul class="tab-btns tab-buttons clearfix">
						<li data-tab="#prod-property" class="tab-btn active-btn">
							<span class="icon">
								<i class="flaticon-loan"></i>
								<span class="number">01</span>
							</span>
							discover properties
						</li>
						<li data-tab="#prod-schedule" class="tab-btn">
							<span class="icon">
								<i class="flaticon-calendar-1"></i>
								<span class="number">02</span>
							</span>
							Schedule a visit
						</li>
						<li data-tab="#prod-confirmation" class="tab-btn">
							<span class="icon">
								<i class="flaticon-check-mark-1"></i>
								<span class="number">03</span>
							</span>
							Hassel Free Confirmation
						</li>
						<li data-tab="#prod-guaranty" class="tab-btn">
							<span class="icon">
								<i class="flaticon-dollar"></i>
								<span class="number">04</span>
							</span>
							Monet-back guaranty
						</li>
					</ul>

					<!-- Tabs Container -->

				</div>
			</div>
		</div>
	</section>
	<!-- Company One -->





	<!-- Video One -->
	<!-- <section class="video-one">
		<div class="video-one_bg" style="background-image:url(assets/images/background/3.jpg)"></div>
		<div class="auto-container">
			<div class="video-one_content">
				<a href="https://www.youtube.com/watch?v=YS3PwmOQ1Fc" class="lightbox-video video-one_play"><span class="fa fa-play"><i class="ripple"></i></span></a>
				<h2 class="video-one_heading">Take a stroll around <br> surroundings.</h2>
			</div>
		</div>
	</section> -->
	<!-- End Video One -->






	<%- include('./footer.ejs') %>